.logo-img img{
    border-radius: 20px;
    width: 130px;
    height: 100px;
    margin: 20px 0;
}

ion-label.inputs{
    font-size: 15px;
    font-weight: bold;
    color: #A9A9A9;
}

ion-button.btn{
    --background:#0000CD;
    opacity: 0.6;
    font-weight: bold;
    margin-left: 18px;
}

